* {
  border: 1px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  width:100%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%
}

.col-8 { 
  width: 66.66%
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%
}

.col-12 {
  width: 100%
}

.flexwrap {
  color: #2d3c49;
  display: flex; flex-wrap: wrap;
}
    
.udacity {
  text-align: left;
}

.name {
  text-align: right; 
}

.ninja {
  text-align: right;
}

hr {
  width: 100%;
}
    
h2 {
  text-align: center;
}
    
p {
  text-align: center;
}

.skiing {
  position: relative;
  display: inline-block;
  float: left;
  max-width: 33.33%;
  height: auto;
}

.hiking {
  position: relative;
  display: inline-block;
  float: right;
  max-width: 33.33%;
  height: auto;
}

.tahoe {
  position: relative;
  display: inline-block;
  max-width: 33.33%;
  height: auto;
}

.featured{
  margin-top: 75px;
}

.movie_trailer {
  position: relative;
  display: inline-block;
  float: left;
  max-width: 33.33%;
  height: auto;
}
 
.revolution {
  position: relative;
  max-width: 33.33%;
  height: auto;
  display: inline-block;
 }

  
.canine {
  position: relative;
  display: inline-block;
  float: right;
  max-width: 33.33%;
  height: auto;
}

